body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
  }
  
  .square {
    width: 300px;
    height: 300px;
    background-color: #ffd284;
    margin: auto;
    border-radius: 50px;
  }
  
  h1 {
    padding-top: 40px;
    font-size: 24px;
  }

  p {
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(255, 153, 0);
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    border-color: rgb(255, 153, 0);
  }
  